<?xml version="1.0"?>
<!-- move to kamephis core -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Kamephis_Base::menu"
             title="Kamephis" module="Kamephis_Base"
             sortOrder="10"
             resource="Kamephis_Base::menu"
        />
    </menu>
</config>
